includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    scanFiles:
        - phpstan-stubs/AppController.php
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: false
